body{
    background-color: #EAE7DC;
}
#wrapper{
    text-align: center;
    margin-top: 10%;
}
#title{
    font-family: Arial, serif;
}
#content{
    margin-top: 5%;
}
#buttons{
    margin-top: 15px;
}
#select{
    margin-top: 20px;
}
#result{
    text-align-last: center;
}
#startButton{
    background-color: white;
    border: 2px solid #4CAF50;
    color: black;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
#startButton:hover{
    background-color: #4CAF50;
    color: white;
}
#stopButton{
    background-color: white;
    border: 2px solid #f44336;
    color: black;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
#stopButton:hover{
    background-color: #f44336;
    color: white;
}
#select {
    position: relative;
    font-family: Arial, serif;
}
#language{
    position: relative;
    font-family: Arial, serif;
    background-color: #8E8D8A;
    color: white;
    padding: 4px 32px;
}
#text {
    font-family: Arial, serif;
}